@charset "utf-8";


.skeleton {
	width: 32px;
	height: 32px;
	background-image: url(evilset1.png);
	background-position: -32px 0px;	
	z-index: 3;
	position: absolute;
}

.cyclops {
	width: 32px;
	height: 32px;
	background-image: url(evilset1.png);
	background-position: -128px 0px;	
	z-index: 3;
	position: absolute;	
}

